*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  text-align: center;
}
#container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: rgba(242, 147, 39, 0.614);
}
.coitainer-small{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgba(232, 242, 39, 0.966);
  padding: 10px;
}
.coitainer-small:hover{
  background-color: rgba(232, 242, 39, 0.966);
  transform: scale(1.05);
  transition: all 0.3s ease;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: bolder;
}
